<h1>Listing Articles</h1>

<% @posts.each do |post| %>
  <p>ID: <%= post.id %></p>
  <p>Title: <%= post.title %></p>
  <p>Subtitle: <%= post.subtitle %></p>
  <%= post.content %>
  <%= link_to 'Mostrar', post_path(post) %>
  <%= button_to 'Apagar', post_path(post),
              method: :delete,
              data: { confirm: 'Tem certeza?' } %>
  <hr>
<% end %>