<div class="w3-container" id="services">
  <h2 class="w3-xxlarge"><b><%= @post.title %></b></h2>
  <h3 class="w3-text-theme"><i><%= @post.subtitle %></i></h3>
  <i class="w3-small">Postado em <%= @post.created_at.day %> de <%= @post.created_at.month %> de <%= @post.created_at.year %></i>
  <br>
  <br>
  <%= @post.content %>
  <hr class="w3-round">
</div>

<%=  @post.impressionist_count %>