<!DOCTYPE html>
<html>
  <head>
    <title>Anderson Brandao</title>

    <meta name="description" content="Página do desenvolvedor web contendo conteúdos relacionados à programação e seus serviços.">
    <link rel="canonical" href="https://andersonbrandao.dev/">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1" />

    <%= stylesheet_pack_tag 'welcome', media: 'all', 'data-turbolinks-track': 'reload' %>

    <!--===========================================================
    Theme Name: Rubiti Institutional
    Author: Anderson Brandão Lustosa
    E-mail: brandao@rubiti.com
    -- LINKS --
    Website: http://www.rubiti.com
    github: @abrandao @rubiti
    ============================================================-->
  </head>

  <body>

    <!-- Sidebar/menu -->
    <nav class="w3-sidebar w3-theme-d3 w3-collapse w3-top w3-padding mySidebar" id="mySidebar"><br>
      <a href="javascript:void(0)" class="w3-button w3-hide-large w3-display-topleft sidebar-anchor" id="w3-close">Fechar Menu</a>
      <div class="w3-container">
      <img src="<%= asset_pack_path 'media/images/me.jpg' %>" class="w3-circle my-picture" alt="Desenvolvedor" />
      <h3 class="w3-padding-8"><b>Anderson Brandão</b></h3>
      <p class="w3-medium">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla sagittis velit sed libero viverra blandit. Nam scelerisque nulla auctor luctus dapibus.
      </p>
      </div>
      <hr>
      <div class="w3-bar-block">
        <a href="#" class="w3-bar-item w3-button w3-hover-white" id="w3-close">HOME</a>
        <a href="#" class="w3-bar-item w3-button w3-hover-white" id="w3-close">HTML</a>
        <a href="#" class="w3-bar-item w3-button w3-hover-white" id="w3-close">RAILS</a>
        <a href="#" class="w3-bar-item w3-button w3-hover-white" id="w3-close">DOCKER</a>
        <a href="#" class="w3-bar-item w3-button w3-hover-white" id="w3-close">NGINX</a>
      </div>
    </nav>

    <!-- Top menu on small screens -->
    <header class="w3-container w3-top w3-hide-large w3-theme-d3 w3-xlarge w3-padding">
      <div href="javascript:void(0)" class="w3-button w3-theme-l5 w3-margin-right" id="w3-open">&#9776;</div>
      <span>Anderson Brandão</span>
    </header>

    <!-- Overlay effect when opening sidebar on small screens -->
    <div class="w3-overlay w3-hide-large" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

    <!-- !PAGE CONTENT! -->
    <div class="w3-main main-margin">

      <%= yield %>
      <%= javascript_pack_tag 'posts', 'data-turbolinks-track': 'reload' %>

    <!-- End page content -->
    </div>
    <!-- W3.CSS Container -->
    <div class="w3-theme-l4 w3-container w3-padding-32 footer"><p class="w3-right">Desenvolvido por <a href="https://www.rubiti.com" title="rubiti websites" target="_blank" class="w3-hover-opacity">rubiti.com</a></p>
    </div>

  </body>
</html>